body{
    background-color: #E3A3D1;
    background:linear-gradient(to right bottom , #FADCDE 0%, #F5D8DC 50%, #E37C8C 100%);
    height: 100vh;
    width: 100vw;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 .box-container{
    height: 77%;
    width: 25%;
    min-width: 480px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border: 2px solid white;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(122, 122, 122);
}
#page1 .box{
    background-color: rgba(255, 255, 255, .2);
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(122, 122, 122);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#page1 .box:hover , #page2 .backBtn:hover{
    transform: scale(0.95);
}
#page1 .box:active , #page2 .backBtn:active{
    transform: scale(1.05);
}
#simpleBtn{
    font-size: 150px;
    color: pink;
}
#simpleBtn span{
    font-size: 90px;
}
#nextBtn{
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgb(122, 122, 122);
    letter-spacing: 30px;
    text-indent: 30px;
    text-decoration: none;
}
#page2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#page2 .backBtn{
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50px;
    border:2px solid white;
    box-shadow: 0 0 5px rgba(122,122,122,1);
    font-size: 55px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 25px;
    text-indent: 25px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#page2 .box-container{
    background-color: rgba(255, 255, 255, .2);
    height: 77%;
    width: 30%;
    min-width: 720px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#page2 .heart{
    color: #FDAAA8;
    font-size: 130px;
}
#page2 h1{
    color:#FF7474;
    font-weight: bold;
    font-size: 90px;
    margin:0;
}
#page2 .line{
    background-color: #FDAAA8;
    width: 80%;
    height: 5px;
    margin:20px 0;
}
#page2 .text-box{
    width: 90%;
}
#page2 .text-box h2{
    text-align: center;
    color:#FF7474;
}
