body{
    background-color: #E3A3D1;
    background:linear-gradient(to right bottom , #FADCDE 0%, #F5D8DC 50%, #E37C8C 100%);
    height: 100vh;
    width: 100vw;
    margin:0;
    font-family: 'itim', sans-serif;
    overflow: hidden;
}
.none-clicked{
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 .box-container{
    height: 77%;
    width: 90vw;
    max-width: 420px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border: 2px solid white;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 5px rgba(0,0,0,0.25);
}
#page1 .box{
    background-color: rgba(255, 255, 255, .2);
    width: 70%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#page1 .box:hover , #page2 .backBtn:hover{
    transform: scale(0.95);
}
#page1 .box:active , #page2 .backBtn:active{
    transform: scale(1.05);
}
#simpleBtn{
    font-size: 150px;
    color: pink;
}
#nextBtn{
    font-size: 75px;
    font-weight: bold;
    color: white;
    text-shadow: 0 4px 10px rgba(0,0,0,0.25);
    letter-spacing: 15px;
    text-indent: 15px;
    text-decoration: none;
}

/* หน้าที่ 2 */
#page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#page2 .backBtn{
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50px;
    border:2px solid white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.25);
    font-size: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 15px;
    text-indent: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#page2 .box-container{
    background-color: rgba(255, 255, 255, .3);
    height: 70%;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    width: 90vw;
    max-width: 520px;
}
#page2 .heart{
    color: #FDAAA8;
    font-size: 110px;
}
#page2 h1{
    color:#FF7474;
    font-weight: bold;
    margin:0;
    font-size: 45px;
}
#page2 .line{
    background-color: #FDAAA8;
    width: 80%;
    height: 5px;
    margin:25px 0;
}
#page2 .text-box{
    width: 90%;
    overflow: hidden;
}
#page2 .text-box h2{
    text-align: center;
    color:#FF7474;
}
