body{
    background-color: #E3A3D1;
    background:linear-gradient(to right bottom , #FADCDE 0%, #F5D8DC 50%, #E37C8C 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
}
.home{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 75%;
    left: 50%;
}
