body{
    background-color: #a3e1e3;
    background:linear-gradient(to right bottom , #DCF1FA 0%, #F0F9FD 50%, #C5FFFC 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.page1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes bounch{
    0%{
        transform: scale(1) translateY(0);
    }
    50%{
        transform: scale(0.5) translateY(-400px);
    }
    75%{
        transform: scale(1) translate(0);
    }
}
.envelope{
    width: 728px;
    height: 726px;
    background:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
    transform: translateY(-175px);
    position: relative;
    overflow: hidden;
}
.base-envelope{
    width: 100%;
    height: 419px;
    background-color: #527C8B;
    position: relative;
    z-index: 2;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
    filter: drop-shadow(0 -4px 10px rgba(0,0,0,0));
}
.top-envelope{
    width: 728px;
    height: auto;
    transition: all 1s ease;
    transform-origin: bottom center;
    z-index: 3;
    position: relative;
    transform: rotateX(180deg);
}
.reg{
    height: 51px;
    width: 100%;
    background-color: #608897;
    position: relative;
}
.tri{
    width: 0;
    height: 0;
    border-left: 364px solid transparent;
    border-right: 364px solid transparent;
    border-bottom: 268px solid #608897;
    filter: drop-shadow(0 7px 10px rgba(0,0,0,0.15));
}
.note{
    width: 429px;
    height: 562px;
    background-color: #FFEDD0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    position: absolute;
    z-index: 1;

    opacity: 0;
    transform: translateY(200px);
    transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s;
}
.note h1{
    font-family: "charm", sans-serif;
    margin:10px 0 0 0;
}
.date{
    font-family: "charm",sans-serif;
    background-color: #FFEDD0;
    padding: 0 10px;
    position: relative;
    top:20px
}
.date h2{
    margin:0
}
.note-border{
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #C28E1D;
    padding: 20px 10px;
    height: 400px;
    width: 352px;
    font-family: "itim",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 17px;
}
.note-center{
    text-align: center;
}
.note-left{
    text-align: left;
}
.note-block{
    position: absolute;
    width: 100%;
    height: 78%;
    background-color: #FFEDD0;
    background: linear-gradient(transparent 0%,#FFEDD0 8%); 
    bottom:0;
}
.open{
    transform: translateY(0);
    .top-envelope{
        transform: rotateX(0deg);
        z-index: 1;
        transition: transform 1s ease, z-index 0s 1s;
    }
    .base-envelope{
        z-index: 3;
        transition: transform 1s ease, z-index 0s 1s;
    }
    .note{
        z-index: 2;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.6s ease 1s, 
                opacity 0s ease 1s, 
                z-index 0s 1s;    
        cursor: pointer;
    }
}
.active-note{
    .top-envelope{
        z-index: 1;
        opacity: 0.5;
        transition: opacity 1s ease 1s,z-index 0s 1s;
    }
    .base-envelope{
        z-index: 1;
        opacity: 0.5;
        transition: opacity 1s ease 1s,z-index 0s 1s;
    }
    .note{
        z-index:2;
        animation: bounch 2s ease;
    }
    .note-block{
        opacity: 0;
    }
    .nextBtn{
        opacity: 1;
    }
}
.nextBtn{
    position: absolute;
    bottom:10px;
    right: 10px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid white;
    color: #527C8B;
    font-size: 20px;
    font-family: "itim",sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    padding-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0;
}
.nextBtn:hover{
    transform: scale(0.95);
}
.nextBtn::after{
    transform: scale(1.05);
}
